table{
    border-collapse: collapse;
    border: 0 solid black;
}

td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.active{
    color: green;
    font-weight: bold;
}